body {
  font-family: 'Quicksand', sans-serif;
  background-color: #E0F7FA;
  color: #00796B;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.settings {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 50px;
  padding: 3px;
  font-size: 1em;
  text-align: center;
}

button {
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  background-color: #80DEEA;
  color: #004D40;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

button:hover {
  background-color: #4DD0E1;
}

#timerDisplay {
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.music-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B2EBF2;
  padding: 10px;
  border-bottom: 2px solid #00796B;
}

.music-controls button {
  background-color: #80DEEA;
  color: #004D40;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
}

.music-controls button:hover {
  background-color: #4DD0E1;
}

.music-controls input[type="range"] {
  margin-left: 10px;
  width: 100px;
}

.settings-hourglass-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 0; /* Adjust spacing between settings and hourglass */
}

.settings {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  gap: 7px; /* Adjust spacing between labels and inputs */
  flex: 1;
}

.pause_play {
  margin-top: 10px; /* Optional: Adjust spacing above the buttons */
  margin-bottom: 20px;
}

#hourglassCanvas {
  width: 150px; /* Set a narrow width to avoid scrolling */
  height: 100%; /* Match the height of the settings box */
  background-color: #B2EBF2;
  border: 2px solid #00796B;
  margin-left: 0;
  border-radius: 10px;
  box-sizing: border-box; /* Include padding and border in height/width */
}

.settings label {
  display: inline-block; /* Ensure labels and inputs are inline */
  width: 150px; /* Set a consistent width for labels */
  text-align: left; /* Align text to the left */
}

.settings input {
  display: inline-block; /* Keep inputs inline with labels */
  margin-left: 10px; /* Add spacing between label and input */
  width: 60px; /* Adjust width of input boxes */
  padding: 3px;
  font-size: 1em;
  text-align: left;
}

#hourglassImage {
  width: 170px; /* Adjust width as needed */
  height: 230px; /* Maintain aspect ratio */
  border: 2px solid #00796B; /* Match the border color */
  border-radius: 10px; /* Optional: Add rounded corners */
  box-sizing: border-box; /* Include padding and border in dimensions */
}